<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="area.mapper.AreaMapper">
    <!-- 查询所有person -->  
    <select id="queryAll" resultType="Area" >  
        select * from area 
    </select>
    
    <select id="findByUniversityName" resultType="Area" >  
        select * from area where universityname = #{universityname} 
    </select>
    
    <select id="findLike" resultType="Area" >  
        select * from area where universityname like '%${universityname}%' 
    </select>
    
    <select id="findLikeLimit" resultType="Area" >  
        select * from area where universityname like '%${universityname}%' limit #{startnum},#{shownum}  
    </select>
    
    <select id="findLikeCount" resultType="Integer">  
        select count(*) from area where universityname like '%${universityname}%'
    </select>
    
    <select id="findById" resultType="Area" >  
        select * from area where id = #{id} 
    </select>
    
    <select id="findByType" resultType="Area" >  
        select * from area where type = #{type} 
    </select>
    
    <select id="findByLevel" resultType="Area" >  
        select * from area where level = #{level} 
    </select>
    
    <select id="findByProvince" resultType="Area" >  
        select * from area where province = #{province} order by universityname desc
    </select>
    
    <select id="findByProvinceLimit" resultType="Area" >  
        select * from area where province = #{province} order by universityname desc limit #{startnum},#{shownum} 
    </select>
    
    <select id="findByTypeLimit" resultType="Area" >  
        select * from area where type = #{type} order by is985 desc limit #{startnum},#{shownum}
    </select>
    
    <select id="findByLevelLimit" resultType="Area" >  
        select * from area where level = #{level} order by is985 desc limit #{startnum},#{shownum}
    </select>
    
    <select id="findOnlyProvince" resultType="Area" >  
        select distinct province from area
    </select>
    
    <select id="findOnlyLevel" resultType="Area" >  
        select distinct level from area
    </select> 
    
    <select id="findOnlyType" resultType="Area" >  
        select distinct type from area
    </select> 
    
    <select id="findAllNum" resultType="Integer" >  
        select count(*) from area
    </select> 
    
    <select id="findAllNumByProvince" resultType="Integer" parameterType="String" >  
        select count(province) from area where province = #{province}
    </select> 
    
    <select id="findAllNumByType" resultType="Integer" parameterType="String" >  
        select count(type) from area where type = #{type}
    </select> 
    
    <select id="findAllNumByLevel" resultType="Integer" parameterType="String" >  
        select count(level) from area where level = #{level}
    </select> 
    
    <delete id="deleteById">
    	delete from area where id = #{id}
    </delete>
    
    <delete id="deleteByUniversityName">
    	delete from area where universityname = #{universityname}
    </delete>
    
    <insert id="addUniversity">
    	insert into area(universityname,province,type,is211,is985,level,url) values(#{universityname},#{province},#{type},#{is211},#{is985},#{level},#{url})
    </insert>
    
    <update id="updateUniversityById">
    	update area set universityname = #{universityname},province=#{province},type=#{type},is211=#{is211},is985=#{is985},level=#{level},url=#{url} where id = #{id}
    </update>
    
</mapper>